#main_image{
    height: 350px;
    width: 550px;
}
body{
    text-align: center;
}
p{
    font-size: 30px;
    font-weight: bold;  
}
img{
    height: 400px;
    width: 700px;
}
h1{
    font-size: 35px;
}
